body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
}

/* シャボン玉の基本スタイル */
.bubble {
  width: 100px;
  height: 100px;
  background-color: rgba(173, 216, 230, 0.6); /* 半透明の水色 */
  border-radius: 50%;
  transition: transform 0.3s ease; /* ホバー時のアニメーション */
  animation: seBalancer 3s infinite ease-in-out;
}

/* ホバー時に2倍に拡大し、アニメーションを一時停止 */
.bubble:hover {
  animation: seBalancer_hover 1s ease-in-out;
}

/* 上下に揺れるアニメーション */
@keyframes seBalancer {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

@keyframes seBalancer_hover {
  100% {
    transform: scale(2);
  }
}