<h1>思い出バブル</h1>

<% if @bubbles.any? %>
  <% @bubbles.each do |bubble| %>
    <%= render partial: "bubbles/bubble", locals: {bubble: bubble} %>
  <% end %>
<% else %>
  <p>これからたくさん思い出を作っていきましょう。</p>
<% end %>
