<% content_for :title, "思い出の宝箱" %>
<div class="areaC" data-url="<%= images_path %>">
  <div class="boxA"></div>
  <div class="boxB"></div>
</div>

<%= link_to "管理用", bubbles_path, class: "admin-bubbles" %>
