/* コンテナ（ホバー領域を含む）のスタイル */
.areaC {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #d7e5ff93;
  border: 1px solid rgb(21, 0, 160);
  overflow: hidden; /* AとBが画面外に出るアニメーションで必要 */
  cursor: pointer;
}

/* 台形Aのスタイル */
.rectA {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 135px;
  background-color: rgb(237, 74, 74);
  clip-path: inset(0px 0px round 70px 70px 0 0);
  transition: transform 0.3s ease;
}

/* 四角形Bのスタイル */
.rectB {
  position: absolute;
  top: 250px;
  left: 100px;
  width: 300px;
  height: 150px;
  background-color: rgb(237, 74, 74);
  border: 8px solid #ffbc5d;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

/* クリックアニメーション用クラス */
.rectA.animate {
  animation: openBoxTop 2s forwards ease-in-out;
}

.rectB.animate {
  animation: openBoxBottom 2s forwards ease-in-out;
}

@keyframes openBoxTop {
  0% {
    top: 100px;
    width: 300px;
    clip-path: inset(0px 0px round 70px 70px 0 0);
  }
  50% {
    top: 0px;
    width: 100%;
    left: 0;
    clip-path: inset(0px 0px round 70px 70px 0 0);
  }
  100% {
    top: -235px;
    width: 100%;
    left: -20px;
    clip-path: inset(0px 0px round 0px 0px 0 0);
  }
}

@keyframes openBoxBottom {
  0% {
    top: 250px;
    width: 300px;
  }
  50% {
    top: 70%;
    width: 100%;
    left: 0;
  }
  100% {
    top: 100%;
    width: 100%;
    left: 0;
  }
}

.areaC:hover .rectA {
  transform: translateY(-50px);
}

.areaC:hover .rectB {
  transform: translateY(30px);
}

.admin-bubbles {
  position: absolute;
  color: aquamarine;
  top: 95%;
  left: 95%;
}
