<p style="color: green"><%= notice %></p>

<h1>思い出バブル</h1>

<div id="bubbles">
  <% @bubbles.each do |bubble| %>
    <%= render bubble %>
    <p>
      <%= link_to "思い出を見る", bubble %>
    </p>
  <% end %>
</div>

<%= link_to "New bubble", new_bubble_path %>
